.faq-section {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background: rgb(0, 0, 0);
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background: rgb(248, 202, 51);
    color: #000000;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background 0.3s;
}

.faq-question:hover {
    background: rgb(214, 173, 39);
}

.faq-answer {
    color: white;
    display: none;
    padding: 10px;
    background: #000000;
    border-radius: 4px;
    margin-top: 5px;
}

.faq-question.active + .faq-answer {
    display: block;
}