.cards{
    background-color: black;
    margin: 35px;
    border-radius: 2rem;
    border-style: solid;
    border-color: white;
    height: 420px;
}
.cards img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 270px;
    height: 260px;
    margin-bottom: 25px;
}
.cards p{
    font-size: 21px;
    color: rgb(228, 159, 12);
    margin-top: -5px;
}


.btn-detalle{
    color: rgb(0, 204, 255);
    text-decoration: none;
}